.hero {
    min-height: 100vh;
    background-image: url('../assets/images/burger.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero_title {
    color: #fff;
}






