// Colours

$orange: #E18335;
$off-white: #E3E4DB;
$green: #55917F;
$blue: #67AAF9;
$dark-gray: #494947;

// Font Sizing

$header-font: 4.5rem;
$large-font: 3rem;
$medium-font: 2rem;
$small-font: 1rem;


// Breakpoints

$breakpoint--xs: 320px; 
$breakpoint--sm: 501px;
$breakpoint--md: 768px;
$breakpoint--lg: 1068px;